* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* star is the universal operator {by default padding is 8px but we dont need it}*/

/*changeing anchor decoration to none otherwise it gives a line in anchor tag*/
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none
}

p {
    /*change the color of paragraph */
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #606060
}

.extra-div h2,
.servicediv h2 {
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}

i {
    color: #2fccd0;
}


/****** ACTUAL CSS START ******/

.header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 168, 255, 0.3), rgba(0, 168, 255, 0.3)), url('');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0% 75%, 0 0);
    position: relative;
}

.header:before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    opacity: .3;
    /*color dim --> best-pratice hidden and then check it*/
    z-index: -1;
    /*jab linear-gradient ka color hamry text per aarha tha to z-index use keya taky text per na aai backgroud color*/
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

.navbar:before {
    /*this is for navbar same as home*/
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    opacity: .3;
    z-index: -1;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

.nav-item a {
    color: #fff !important;
    font-weight: bold;
}

.header-section {
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
}

.center-div {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    /*jab hum ney ye keya tha to hamara text center per jany kay bajaye left per chala gya*/
    transform: translate(-50%, -50%);
    /*to transform property use aur -50 -50 kr deya */
    -ms-transform: translate(-50%, -50%);
    /* ms means for microsoft kay leye bhi yahi property*/
    -webkit-transform: translate(-50%, -50%);
    /* webkit kay leye bhi yahi property*/
}

.header-buttons a {
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}

.header-buttons a:hover {
    color: #50d1c0;
    background: white;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.center-div p {
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: white;
}